<%= form_for(@mydate) do |f| %>
  <% if @mydate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mydate.errors.count, "error") %> prohibited this mydate from being saved:</h2>

      <ul>
      <% @mydate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entry %><br />
    <%= f.text_field :entry %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
