<h1>Listing mydates</h1>

<table>
  <tr>
    <th>Entry</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mydates.each do |mydate| %>
  <tr>
    <td><%= mydate.entry %></td>
    <td><%= mydate.date %></td>
    <td><%= link_to 'Show', mydate %></td>
    <td><%= link_to 'Edit', edit_mydate_path(mydate) %></td>
    <td><%= link_to 'Destroy', mydate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mydate', new_mydate_path %>
